outputs/data/vtx/gravitational_field_scalar_fields.bp/data.0 filter=lfs diff=lfs merge=lfs -text
outputs/data/vtx/gravitational_field_potential.bp/data.0 filter=lfs diff=lfs merge=lfs -text
outputs/data/vtx/gravitational_field_vector_field.bp/data.0 filter=lfs diff=lfs merge=lfs -text
